/* Write your CSS here */
.destination-item {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}

.destination-image {
  width: 235px;
  height: 175px;
}

.name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
  }
}
